#title {
	padding: 7%;

}
#navigation {
	padding-bottom: 1em;
}
.about {
	position: relative;
	line-height: 2.0em;
}

.about_text_contents {
	padding-top: 5%;
	margin: auto;
	width: 40%;
}

#yongwoon_img{
	position: fixed;
	bottom: 0;
	right: 0;
	width:30%;
	opacity:0.6;
}
