#headline{
	margin-top: 1em;
}

#navigator{
	width:65%;
	transform: translate(25%,25%);
}

body::after{
	background:url('../pic/Background.png');
	background-size: 100% auto;
	content: "";
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 

}

img{
	float:left;
	margin: 0em 1em 1em 1em;
}

#age_img{
	width:30%;
	height:30%;
}

#work_img{
	width:35%;
	height:35%;
}	

#study_img{
	width:35%;
	height:35%;
}

#dance_img{
	width:35%; 
	height:35%;

}
