#headline{
	margin-top: 3em;
}

#navigator{
	width:65%;
	transform: translate(25%,25%);
}

body::after {
	background:url('../pic/Background.png');
	background-size: 100% auto;
	content: "";
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff7361;
}

a {
    color: #ff7361;
}

a:hover {
    color: #ff7361;
    background-color: #f8e8e8;
}

