@media (max-width: 1000px) {
body::after{
	background-size: auto;
}

h1{
	font-size:30px;
}

#navigator{
	width:70%;
	transform: translate(20%,25%);
	font-size:18px;
}

.about {
	width:100%;
	top:35%;
	

	font-size : 18px;	
	line-height: 2.0em;
}

.about_text_contents {
	margin-top: 0em;
	margin-left: 0em;
	position:absolute;

}

img {
	display: none;
}

.searchButton{
	width:40%;
	height:1.5em;
	font-size:1em;
}

.wrap{
	width:90%;
	top:50%;
}

}


