@media (max-width: 1000px) {
body::after{
	background-size: auto;
}

h1{
	font-size:30px;
}

.about {
	top:55%;
	
}

.searchButton{
	width:40%;
	height:1.5em;
	font-size:1em;
}

.wrap{
	width:90%;
	top:50%;
}

#age_img{
	width:70%;
	height:70%;
}

#work_img{
	width:70%;
	height:70%;
}	

#study_img{
	width:70%;
	height:70%;
}

#dance_img{
	width:50%; 
	height:50%;

}

}


