@media (max-width: 1000px) {
body::after{
	background-size: auto;
}

h1{
	font-size:30px;
}

.about {
	width:100%;
	top:45%;
	
	position: absolute;
	transform: translate(-38%, -20%);

	font-size : 18px;	
	line-height: 2.0em;
}

.about_text_contents {
	margin-top: 0em;
	margin-left: 0em;
	position:absolute;

}

img{
	width:100%;
	margin: 4em 1em 1em 1em;
	opacity:0.2;
}

#yongwoon_img{
	width:58%;
	height:58%;
}


.searchButton{
	width:40%;
	height:1.5em;
	font-size:1em;
}

.wrap{
	width:90%;
	top:50%;
}


}


