<!doctype html>
<html>
	<head>
		<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
		<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
		<!--JQuery Environment Setting-->
		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>

		<!--css for tree-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/tree.css')}}?ver{{now}}">
		<script src="{{url_for('static', filename='js/tree.js')}}?ver{{now}}"></script>
			
		<!--css for search-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}?ver{{now}}">

		<!--css for responsive-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}?ver{{now}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- css font-style-size -->
		<link rel="stylesheet" href="{{url_for('static', filename='css/font.css')}}?ver{{now}}">	

		<!--- javascript for search -->
		<script src="{{url_for('static', filename='js/search.js')}}?ver{{now}}"></script>

		<title>Yongwoon Jang</title>

	</head>
	<body>	
		<section class="container-xg">
			<section id ="headline" class="row justify-content-center">
				<div class="col-12 text-center">
				<h1>Y o n g w o o n  J a n g</h1>
				</div>
			</section>
			<section id = "naviagtor" class="row justify-content-center m-3">
				<ul class="nav nav-pills col-12 justify-content-center" id="pills-tab" role="tablist">
					{% for menu in menus %}
					<li class="nav-item text-center col-6">
						<a class="nav-link" id="pills-{{menu['id']}}-tab" data-toggle="pill" href="#pills-{{menu['id']}}" aria-controls="pills-{{menu['id']}}" aria-selected="false">{{menu['menu_name']}}</a>
					</li>
					{% endfor %}
				</ul>
			</section>
			<section id = "contents" class="row justify-content-start">
				<div class="tab-content" id="pills-tabContent">
					<!-- menu #1 -->
					<div class="tab-pane fade active show" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
						<!-- TREE View -->
						<ul id="profile-tree" class="tree">
							<li>
								<input type="checkbox" checked="checked" id="c1" />
								<label class="tree_label" for="c1">장용운</label>
								<ul>
									<li>
									<input type="checkbox" id="c2" />
									<label for="c2" class="tree_label">나이</label>
										<ul>
											<li><span class="tree_label">1988.12.22 </span></li>
											<li><span class="tree_label">33</span></li>
											<li><img src="{{url_for('static', filename='pic/Seoul_olympic.png')}}" style="width:80%; height:80%"/></li>
										</ul>
									</li>
									<li>
									<input type="checkbox" id="c3" />
									<label for="c3" class="tree_label">하는일</label>
										<ul>
											<li><span class="tree_label">KT Manager </span></li>
											<li><img src="{{url_for('static', filename='pic/Korea_Telecom.png')}}" style="width:100%; height:100%"/></li>	
										</ul>
									</li>
									<li>
									<input type="checkbox" id="c4" />
									<label for="c4" class="tree_label">공부한 경력</label>
										<ul>
											<li><span class="tree_label">대학 졸업</span></li>
											<li><span class="tree_label">컴퓨터 공학 </span></li>
											<li><img src="{{url_for('static', filename='pic/Computer_Science_Mark.png')}}" style="width:100%; height:100%"/></li>
										</ul>
									</li>
									<li>
									<input type="checkbox" id="c5" />
									<label for="c5" class="tree_label">취미</label>
										<ul>
											<li><span class="tree_label">댄스</span> </li>
											<li><img src="{{url_for('static', filename='pic/DanceDance.png')}}" style="width:100%; height:100%"/><li>
											<li>
												<input type="checkbox" id="c6" />
												<label for="c6" class="tree_label">음악</label>
													<ul>
														<li><span class="tree_label">피아노</span></li>
														<li><span class="tree_label">클래식</span></li>
													</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<!--<div id="fontSizeWrapper">
							<input type="range" value="1" id="fontSize" step="0.5" min="0.5" max="4.5" />
						</div>-->
					</div>
					<!-- menu #2 search -->
					<div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
						<div class="wrap">
							<div class="search">
							<input id="search-text" type="text" class="searchTerm" placeholder="무엇이 궁금하세요?">
							<button id="search" type="submit" class="searchButton">
							Search
							</button>
							</div>
							<div id="result" class="m-2">
							<!-- 결과에 따라 다양한 내용이 포함된다. -->
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</body>
</html>
