jenkins를 docker로 사용할 때, 업그레이드가 필요함.

기본적인 절차는 아래와 같음.
1. docker container exec -u 0 -it jenkins bash
2. wget {jenkins.war path}
3. mv ./jenkins.war /usr/share/jenkins
4. chown jenkins:jenkins /usr/share/jenkins/jenkins.war
5. docker container restart jenkins

출처
https://medium.com/@jimkang/how-to-start-a-new-jenkins-container-and-update-jenkins-with-docker-cf628aa495e9
